*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#3d343a;
color:white;
padding:40px;
overflow-x:hidden;
}

.hero{
text-align:center;
margin-bottom:60px;
}

.hero h1{
font-size:60px;
margin-bottom:15px;
}

.subtitle{
font-size:18px;
color:#cfcfcf;
line-height:1.8;
}

.carousel{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
flex-wrap:wrap;
}

.card{
width:220px;
height:340px;
border-radius:20px;
overflow:hidden;
position:relative;
cursor:pointer;
transition:0.5s;
opacity:.7;
}

.card img{
width:100%;
height:100%;
object-fit:cover;
transition:.5s;
}

.card:hover{
transform:scale(1.15);
opacity:1;
z-index:100;
box-shadow:0 0 35px rgba(255,255,255,.25);
}

.card:hover img{
transform:scale(1.1);
}

.overlay{
position:absolute;
bottom:0;
width:100%;
padding:15px;
background:linear-gradient(
to top,
rgba(0,0,0,.9),
transparent
);
}

.overlay h3{
font-size:24px;
}

#galleryPage{
display:none;
}

.back-btn{
padding:10px 20px;
border:none;
border-radius:8px;
background:#528991;
color:white;
cursor:pointer;
margin-bottom:20px;
}
.back-btn:hover{
background:#a35899;
transform: scale(1.05);
transition: 0.3s;
}

#galleryTitle{
text-align:center;
margin-bottom:30px;
font-size:40px;
}

.gallery-grid{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.gallery-grid img{
width:100%;
height:250px;
object-fit:cover;
border-radius:15px;
cursor:pointer;
transition:.4s;
}

.gallery-grid img:hover{
transform:scale(1.05);
}

#lightbox{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.95);
display:none;
justify-content:center;
align-items:center;
z-index:999;
}

#lightboxImg{
max-width:85%;
max-height:85%;
border-radius:15px;
}

.close{
position:absolute;
top:20px;
right:40px;
font-size:45px;
cursor:pointer;
}

.prev,
.next{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:40px;
background:none;
border:none;
color:white;
cursor:pointer;
}

.prev{
left:40px;
}

.next{
right:40px;
}

@media(max-width:768px){

.hero h1{
font-size:40px;
}

.card{
width:180px;
height:280px;
}

}
